.modal-container {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 200px;
  border: 2px solid black;
  font-family: white;
  background: rgb(168, 168, 168);
}

.modal-ok,
.modal-nok {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 36px;
  color: white;
}

.modal-ok {
  background: rgb(78, 129, 78);
}

.modal-nok {
  background: rgb(142, 83, 83);
}

.modal-close {
  position: absolute;
  text-align: center;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: white;
  border: 5px solid black;
  color: black;
  z-index: 3;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: fill;
}

.closed {
  display: none;
}
